.box {
    clear: both;
    padding: 10px;
    margin: 0;
}

.back {
    font-size: 90px;
}

img.pre {
    max-width: 100%;
}

video.pre {
    max-width: 100%;
    min-height: 200px;
}

img.folder {
    padding: 10px;
    width: 30%;
    float: left;
}

.folder {
    position: relative;
    clear: both;
}

.folder span {
    position: relative;
    float: left;
    top: 10px;
    font-size: 60px;
}

.videoBox span {
    font-size: 30px;
}

.top {
    width: 200px;
    font-size: 120px;
    height: 200px;
    background: gray;
    opacity: 0.9;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    line-height: 180px;
    border-radius: 100px;
    z-index: 1000;
}

.demo{
    width: 100%;
}