<html>

<head>
    <link rel="stylesheet" type="text/css" href='/style/index.css'/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>
    <script type="text/javascript" src="/js/sliderIm.js"></script>
    <script>
        function ScrollToTop() {
            document.body.scrollTop = 0;
        }
    </script>
</head>

<body>
    <h1>Path: <%=data.pathQ%> </h3>
        <div class="top" onclick="javscript:ScrollToTop()">top</div>
        <div style="height: 110px;"><a class="back" href="/?index=<%=data.index%>&path=<%=data.pathBack%>">回到上一级</a>
        </div>
        <div class='demo'></div>
        <div id='data'>
            <% for(var i in data.images){ %>
            <div class="imdata" imgurl="<%=data.images[i]%>"></div>
            <%}%>
        </div>
</body>
</html>